{% # theme-check-disable AssetSizeJavaScript %}
<script src="{{ 'react-extension.js' | asset_url }}" defer></script>
{% # theme-check-enable AssetSizeJavaScript %}
<span>This is liquid</span>
<div id="container"></div>

{% schema %}
  {
    "name": "React Extension Tutorial",
    "target": "section",
    "settings": []
  }
{% endschema %}
